.App {
  font-family: sans-serif;
  text-align: center;
}

.game {
  display: inline-block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.tile {
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.info-bar {
  margin-top: 20px;
  font-size: 18px;
}

.character {
  background-image: url('../public/character.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ccc;
}